.mainFooter {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    &__toggleChat{
        display: flex;
        justify-content: flex-end;
    }
    #toggleChatEvent{
        position: absolute;
        right: 10px;
        top: calc(0% - 80px);
        @media #{$mediaMobile}{
            top: calc(0% - 70px);
        }
    }
}