.mainFooter {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    &__toggleChat{
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        @media #{$mediaMobile}{
            padding: 10px;
        }
    }
}