// Settings:
$card-width : 200px;
$card-height : 200px;
$colums-gap: 20px; // auto-fill;
$way-width: 40px;

.gameboard{
    --colums-grid: 4;
    padding: 20px;
    &__column{
        display: flex;
        justify-content: center;
    }
    &__step{
        border-radius: 50%;
        cursor: pointer;
        width: $card-width;
        position: relative;
        height: $card-height;
        background-color: #0231b8;
        box-shadow: 0px 0px 0px 3px #2ec7c5;
        &::before{
            content: "";
            left: -$colums-gap;
            top: 0;
            bottom: 0;
            height: $way-width;
            margin-top: auto;
            position: absolute;
            margin-bottom: auto;
            width: calc(100% + #{$colums-gap + $colums-gap});
            background-color: #e6a93e;
            z-index: -1;
        }

        // // ↓↓↓ last of row ↓↓↓
        &:last-of-type{
            &::after{
                z-index: -1;
                content: "";
                width: $way-width;
                position: absolute;
                background-color: #e6a93e;
                top: ($card-height - $way-width)/2;
                height: calc(100% + #{ ($colums-gap + (($card-height - $way-width)/2) + $way-width) - (($card-height - $way-width)/2) });
            }
        }

        // NNNNNNNNNNNNNNNNNN
        // NNNNNNNNNNNNNNNNNN
        // NNNNNNNNNNNNNNNNNN

        // // ↓↓↓ last and firsf of row ↓↓↓

        // &:nth-of-type( #{($colums-grid)*2}n - #{$colums-grid} ),
        // &:nth-of-type( #{($colums-grid)*2}n - #{$colums-grid - 1} ){
        //     &::after{
        //         z-index: -1;
        //         content: "";
        //         width: $way-width;
        //         position: absolute;
        //         background-color: #e6a93e;                
        //         top: ($card-height - $way-width)/2;
        //         height: calc(100% + #{ ($colums-gap + (($card-height - $way-width)/2) + $way-width) - (($card-height - $way-width)/2) });
        //     }
        // }

        // // ↓↓↓ last of row ↓↓↓
        // &:nth-of-type( #{($colums-grid)*2}n - #{$colums-grid} ){
        //     background-color: purple;
        //     &::after{
        //         border-radius: 0 40px 40px 0;
        //         left: calc(100% + #{$colums-gap});
        //     }
        // }

        // // ↓↓↓ First of row ↓↓↓ 
        // &:nth-of-type( #{($colums-grid)*2}n - #{$colums-grid - 1} ){
        //     background-color: tomato;
        //     &::after{
        //         border-radius: 40px 0 0 40px;
        //         right: calc(100% + #{$colums-gap});
        //     }
        // }

        // NNNNNNNNNNNNNNNNNN
        // NNNNNNNNNNNNNNNNNN
        // NNNNNNNNNNNNNNNNNN
        &:last-of-type{
            &::after{
                // content: none;
            }
        }
    }
    &__steps{
        width: 100%;
        margin: 0 auto;
        max-width: 980px;
        &_row{
            display: grid;
            grid-gap: $colums-gap;
            justify-content: center;
            margin-bottom: $colums-gap;
            grid-template-columns: repeat( var(--colums-grid), minmax($card-width, $card-height));

            &:nth-of-type(odd){
                // background-color: red;
                .gameboard__step{
                    &:last-of-type{
                        &::after{
                            border-radius: 0 40px 40px 0;
                            left: calc(100% + #{$colums-gap});
                        }
                    }
                }
            }
            &:nth-of-type(even){
                direction: rtl;
                .gameboard__step{
                    &:last-of-type{
                        &::after{
                            border-radius: 40px 0 0 40px;
                            right: calc(100% + #{$colums-gap});
                        }
                    }
                }
            }
            &:last-of-type{
                .gameboard__step{
                    &:last-of-type{
                        &::after{
                            display: none;;
                        }
                    }
                }
            }
            
        }
    }
}
.cardsSwiper{
    color: $black;
    &__slide{
        &_content{
            padding: 20px 20px 40px 20px;
        }
    }
    &__title{
        color: $white;
        font-weight: 300;
        text-align: center;
        padding: 15px 10px;
        @include fontSize(30);
        background: linear-gradient(to right, #b000a9 0%, #8e18c4 50%, #68178f 100%);
    }
    &__subtitle{
        margin-bottom: 10px;
        @include fontSize(18);
    }
    &__descripcion{
        @include fontSize(15);
        p{
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            .icon{
                color: #280f68;
                margin-right: 15px;
                @include fontSize(35);
            }
        }
        img{
            width: 100%;
            display: block;
            border-radius: .3rem;
        }
    }
}

.swiper-pagination-bullet{
    &.swiper-pagination-bullet-active{
        background: -moz-linear-gradient(left, #404299 0%, #983995 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #404299 0%,#983995 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #404299 0%,#983995 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}