// Settings:
$card-width : 140px;
$card-height : 140px;
$colums-gap: 40px; // auto-fill;
$colums-grid: 4; // auto-fill;
$way-width: 60px;

.gameboard{
    padding: 20px;
    &__column{
        display: flex;
        justify-content: center;
    }
    &__steps{
        width: 100%;
        max-width: 980px;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        display: grid;
        grid-gap: $colums-gap;
        justify-content: center;
        grid-template-columns: repeat($colums-grid, minmax($card-width, $card-height));
    }
    &__step{
        cursor: pointer;
        width: $card-width;
        position: relative;
        height: $card-height;
        background-color: #e6bd48;
        box-shadow: 0px 0px 0px 3px #e6a93e;
        &::before{
            content: "";
            left: -$colums-gap;
            top: 0;
            bottom: 0;
            height: $way-width;
            margin-top: auto;
            position: absolute;
            margin-bottom: auto;
            width: calc(100% + #{$colums-gap + $colums-gap});
            background-color: #e6a93e;
            z-index: -1;
        }
        // ↓↓↓ The first column item ↓↓↓
        &:nth-of-type( #{$colums-grid}n ){
            // background-color: blue;
        }
        // ↓↓↓ The last column item ↓↓↓
        &:nth-of-type( #{$colums-grid}n +1 ){
            // background-color: purple;
        }

        &:nth-of-type( #{($colums-grid)*2}n - #{$colums-grid} ){
            background-color: purple;
        }
        &:nth-of-type( #{($colums-grid)*2}n - #{$colums-grid - 1} ){
            background-color: tomato;
        }
    }
}
.cardsSwiper{
    color: $black;
    &__slide{
        &_content{
            // padding: 20px;
        }
    }
    &__title{
        @include fontSize(30);
    }
    &__subtitle{
        @include fontSize(18);
    }
    &__descripcion{
        @include fontSize(14);
        p{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        img{
            width: 100%;
            display: block;
            border-radius: .3rem;
        }
    }
}

.swiper-pagination-bullet{
    &.swiper-pagination-bullet-active{
        background: -moz-linear-gradient(left, #404299 0%, #983995 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #404299 0%,#983995 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #404299 0%,#983995 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}