html, body, body *, *, *::before, *::after {
    box-sizing: border-box;
}

body, html, h6, h5, h4, h3, h2, h1 {
    font-family: $fontFamily;
    font-size: $baseFont + px;
    font-weight: 400;
    padding: 0;
	margin: 0;
}

body{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#404299+0,983995+100 */
	background: #404299; /* Old browsers */
	background: -moz-linear-gradient(left, #404299 0%, #983995 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #404299 0%,#983995 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #404299 0%,#983995 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-image: url('../../img/bg.png');
    background-size: cover;
    background-position: center;
	background-attachment: fixed;
	transition: all 0.5s ease;
	opacity: 1;
	&.loading{
		opacity: 0;
	}
}

img {
	display: inline-block;
	max-width: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
	&:hover{
		text-decoration: none;
	}
}

ul, ol {
    list-style: none;
}

input:focus, textarea:focus, a:focus {
	outline: none;
}