.dropzone{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px dashed #3b16b3;
    background-color: rgba($black , 0.04);
    @include transition();
    &.dz-drag-hover{
        border-color: rgba($black, 0.5)
    }
    .dz-message{
        @include transition();
        text-align: center;
        span{
            display: block;
            @include fontSize(18);
            .fas{
                color: #9c9c9c;
                margin-top: 5px;
                @include fontSize(70);
            }
        }
    }
}

.cronomether{
    width: 180px;
    height: 180px;
    font-size: 4rem;
    border-radius: 50%;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../img/stopwatch.svg');
    line-height: calc(200px + 0.3rem);
    color: $white;
}

.canvas-container{
    canvas{
        display: block;
        margin: 0 auto;
        border: 1px solid #280f68;
    }
    &__controls{
        display: flex;
        padding-right: 4%;
        justify-content: flex-end;
        &_set{
            margin: 5px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: inset 0px 0px 0px 1px rgba(50, 50, 50, 0.75);
            &:hover{
                >*{
                    line-height: 1;
                    display: inline-block;
                    @include transition();
                    transform: scale(1.1);
                }
            }
            &-yellow{ background-color: #e6a93e; }
            &-red{ background-color: #fa3d5a; }
            &-blue{ background-color: #247fff; }
            &-black{ background-color: $black; }
        }
    }
}