.chatbox{
    position: relative;
    margin: 0 auto;
    color: rgba($black, 0.7);
    background-color: $white;
    max-width: calc(100% - 40px);
    border-radius: 5px 5px 0 0;
    background: linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    @include transition();
    height: 0;
    padding: 0 20px;
    @media #{$mediaMobile}{
    	max-width: 100%;
    }
    &.active{
        height: calc(100vh - 200px);
        @media #{$mediaMobile}{
            height: calc(100vh - 150px);
        }
    }
    &__chatContent{
        padding: 20px;
        overflow: auto;
        height: calc( 100% -  60px);
        @media #{$mediaMobile}{
            padding: 0;
        }
    }
    &__session{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba($black, 0.3);
        &:last-of-type{
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
    &__header{
        color: $white;
        @include fontSize(16);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    &__messages{
        &_message{
            margin: 10px 0;
            position: relative;
            &::before{
                content: "";
                top: 0;
                right: calc(100% - 115px);
                position: absolute;
                border-style: solid;
                border-width: 17px 25px 0 25px;
                border-color: #193d57 transparent transparent transparent;
            }
            &-own{
                &::before{
                    right: initial;
                    left: calc(100% - 115px);
                }
                .chatbox__messages_content{
                    margin-left: auto;
                    flex-direction: row-reverse;
                }
            }
        }
        &_content{
            max-width: 500px;
            display: flex;
            &_picture{
                min-width: 50px;
                max-width: 50px;
                min-height: 50px;
                max-height: 50px;
                margin: 0 15px;
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-radius: 50%;
                    object-fit: contain;
                }
            }
            &_text{
                padding: 15px;
                color: #0AD5C1;
                @include fontSize(16);
                line-height: 1.4;
                border-radius: 5px;
                // background-color: #404299;
                background-color: #193d57;
            }
        }
    }
    &__textarea{
        width: 100%;
        .sendMessage{
            width: 100%;
            display: flex;
        }
        input{
            width: 100%;
            outline: none;
            display: block;
            padding: 0 15px;
            font-weight: 200;
            margin-right: 5px;
            border-radius: 5px;
            border: 1px solid rgba($black, 0.3);
        }
        .btn{

        }
    }
}